@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./output.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />



    <!-- Scripts -->
    <script src="scrypt.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
    <title>Home</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }
    </style>
</head>
<body class="grid grid-rows-[auto_1fr_auto] min-h-screen">
    <header class="text-white body-font bg-gray-800">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <div class="text-white bg-orange-600 border-0 py-1 px-8 focus:outline-none hover:bg-orange-500 rounded-tr-3xl rounded-bl-3xl round text-lg">
                    <div style="vertical-align: inherit;">
                        <div style="vertical-align: inherit;">ARCTECH</div>
                    </div>
                </div>
            </a>
            <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
@* Скрытое поле для дополнительных функций *@
                <div>
                    @* <a class="mr-5 hover:text-gray-400">
                        <div style="vertical-align: inherit;">
                            <div style="vertical-align: inherit;">НОВЫЙ</div>
                        </div>
                    </a> 
                    <a class="mr-5 hover:text-gray-400">
                        <div style="vertical-align: inherit;">
                            <div style="vertical-align: inherit;">ТЕКУЩИЙ</div>
                        </div>
                    </a>
                    <a class="mr-5 hover:text-gray-400 text-orange-600 animate-pulse">
                        <div style="vertical-align: inherit;">
                            <div style="vertical-align: inherit;">ГОРЯЩИЙ</div>
                        </div>
                    </a>
                    <a class="mr-5 hover:text-gray-400">
                        <div style="vertical-align: inherit;">
                            <div style="vertical-align: inherit;">ВСЕ</div>
                        </div>
                        </a> *@
                </div>
            </nav>

            <button class="inline-flex items-center border-2 py-1 px-3 focus:outline-none hover:bg-orange-600 rounded-l-lg rounded-tr-lg text-white1 mt-4 md:mt-0">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">НАПИСАТЬ</font>
                </font>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </button>
        </div>
    </header>

    <main class="flex-grow">

        <section class="h-full text-gray-600 body-font h-s flex-grow bg-gradient-to-r from-gray-100 via-orange-200 to-orange-300 hover:from-orange-300 hover:via-orange-200 hover:to-gray-100">
            <div class="container px-5 py-24 mx-auto flex-row">
                <div class="flex flex-col text-center w-full mb-12">

                    <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                        <div style="vertical-align: inherit;">
                            <div class="animate-typing overflow-hidden whitespace-nowrap text-xl text-gray-800 fadeln" style="vertical-align: inherit;">Добро пожаловать в рабочую среду</div>
                        </div>
                    </p>
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 pt-12">
                        <div style="vertical-align: inherit;">
                            <div style="vertical-align: inherit;"><mark class="text-white bg-orange-600 border-0 py-1 px-8 focus:outline-none hover:bg-orange-500 rounded-tr-3xl rounded-bl-3xl round text-2xl">ARCTECH Podolsk</mark> </div>
                        </div>
                    </h1>
                    <p class="lg:w-2/3 mx-auto leading-relaxed text-base pt-6">
                        <div style="vertical-align: inherit;">
                            <div class="animate-typing overflow-hidden whitespace-nowrap text-xl text-gray-800 fadeIn" style="vertical-align: inherit;">Продуктивного дня</div>
                        </div>
                    </p>
                </div>

                <button class="flex mx-auto animate-bounce text-white items-center bg-gray-800 border-0 py-2 px-8 focus:outline-none hover:bg-orange-600 rounded-l-lg rounded-tr-lg shadow-2xl text-lg">
                    <div style="vertical-align: inherit;">
                        <div style="vertical-align: inherit;"><a href="/Home/Index">АВТОРИЗАЦИЯ</a></div>
                    </div>
                </button>
            </div>
            </div>
        </section>
    </main>

    <footer class="text-gray-600 body-font bg-gray-800">
        <div class="container px-5 py-4 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <div class="text-white bg-orange-600 border-0 py-1 px-8 focus:outline-none hover:bg-orange-500 rounded-tr-3xl rounded-bl-3xl round text-lg">
                    <div style="vertical-align: inherit;">
                        <div style="vertical-align: inherit;">ARCTECH</div>
                    </div>
                </div>
            </a>
            <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
                <div style="vertical-align: inherit;">
                    <div style="vertical-align: inherit;">© 2020 Arctech — </div>
                </div>
                <span>
                    <a class="ml-3 text-gray-500 px-8">
                        +7 (977)8117434
                    </a>
                </span>
        </div>
    </footer>

</body>
</html>